.miniTitle{
    font-weight: 700;
    font-size: 16px;
    color: #888888;
    margin-top: 81px;

}



h1{
    margin-bottom: 37px;
}

.postsContainer{
    margin: 0 auto 0 auto;
}

li{
    list-style: none;
    background-color: #fff;
    width: 768px;
    height: 199px;
    border-radius: 8px;
    padding: 17px  52px 27px 37px;
}
ul{
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
}

.date{
    text-align: right;
    font-size: 14px;
    color: #888;

}

button{
    width: 131px;
    height: 38px;
    background-color: #222;
    color: #fff;
    border-style: none;
    border-radius: 8px;
    margin-top: 24px;
}
