.postEditElement{
    width: 768px;
    margin: 0 auto 0 auto;
}
form{
    width: 768px;
    height: 444px;
    margin: 0 auto 0 auto;
    padding: 44px 47px 95px 40px;
    background-color: #fff;
}

#content{
    resize: none;
    width: 681px;
    height: 152px;
    border-radius: 4px;
    box-shadow: none; 
    border: 1px solid #999999; 
    font-size: 20px;
    padding: 5px;
}

#title{
    width: 681px;
    height: 56px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #999999; 
    font-size: 20px;
    padding: 5px;
}

h1{
    margin: 108px 0 31px 0;
}

button{
    width: 140px;
    height: 38px;
    background-color: #1D9BF0;
    color: #fff;
    border-radius: 8px;
    border-style: none;
    font-size: 14px;
    margin-top: 31px;
    
}
label{
    font-size: 24px;
    color: #444;
}
input{
    margin-bottom: 31px;
}